/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "variables";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary-color {
  color: $color-orange;
}
.custom-tel {
  background-color: transparent;
  border: 1px solid #74777f;
  padding: 16px 0;
  border-radius: 4px;
  width: 100%;
}
.mat-drawer {
  border-radius: 0 !important;
}

custom-detail-panel {
  border-radius: 0 !important;
}

.custom-tel-error {
  background-color: transparent;
  padding: 16px 0;
  border-radius: 4px;
  width: 100%;
  border: 1px solid var(--mat-form-field-error-text-color);
}
.custom-modal {
  min-width: 80vw !important;
}

@media screen and (max-width: 1200px) {
  .custom-modal {
    min-width: 90vw;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.card-container {
  border: 1px solid #dcdfe6;
  border-radius: 8px;
  background-color: #ffffff;
  .card-header {
    padding: 16px;
    border-bottom: 1px solid #dcdfe6;
    font-weight: 500;
    font-size: 16px;
  }
  .card-body {
    padding: 24px;
  }
  img {
    width: 250px !important;
    height: 300px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

.description::-webkit-scrollbar {
  width: 12px;
}

.description::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.description::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}
.price {
  font-weight: 600;
  font-size: 16px;
  font-family: Lato, Almarai, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}
